@media screen and (min-width: 1300px) {
    
    nav {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav li {
        flex: 1 1 100%;
    }

    nav a, nav button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    #hamburger {
        display: none;
    }

    main {
        overflow: hidden;
    }

    #gallery {
        margin: 0 auto;
        grid-template: repeat(3, .8fr) / repeat(3, .8fr);
        gap: 10px;
    }

    .card picture {
        width: 400px;
        height: 250px;
    }

    .card img {
        width: 400px;
        height: 250px;
    }

    .temple {
        margin: 0 auto;
        width: 100%;
    }

    .temple img {
        /* height: 70%; */
        width: 70%;
    }

}